.LogIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    h1 {
        color: #0571af;
        font-family: 'Rubik';
        text-transform: none;
        font-size: 2em;
    }

    .MuiPaper-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vh 0 0 0;
        min-width: 20vw;
        padding: 2.5vh 2vw 5vh 2vw;
        border-radius: 10px;
        background-color: #f0f0f0;

        .MuiFormControl-root {
            width: 100%;
            margin-top: 3.5vh;
            background-color: #f0f0f0;
        }

        .MuiOutlinedInput-root {
            transition: 0.5s;
    
            &:focus {
                background-color: #f0f0f0 !important;
            }
    
            &:hover {
                background-color: #e4e4e4;
    
                .MuiOutlinedInput-notchedOutline {
                    border-color: #0277bd;
                }
            }
        }

        .half-field {
            display: flex;
            justify-content: space-between;
            width: 100%;

            & > * {
                width: 45%;
            }
        }
    }

    .MuiButton-root {
        margin-top: 3.5vh;
        min-width: 6vw;
        height: 4vh;
        text-transform: none;
        align-self: flex-end;
    }
}

.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}