html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: -webkit-linear-gradient(#005aa7, #528caf);
    background: linear-gradient(#005aa7, #528caf);
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.container {
    position: absolute;
    top: 15vh;
    margin: auto;
    width: 567px;

    .text {
        font-size: 5rem;
    }
}

.planeSymbol {
    transition: transform .5s;
    transform: scale(.9);
    fill: white;
    stroke: white;
    transform-origin: 50%,50%;
    animation: hideshow 2.5s forwards;
}

.text {
    stroke: white;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1.3s linear forwards;
}

@keyframes hideshow {
    60%, 100% {
        opacity: 0;
        transform: translate(500px, 0);
      }
      0% {
        opacity: 0;
      }
      15% {
        opacity: 1;
      }
  } 
 
 @keyframes dash {
    to {
       stroke-dashoffset: 0;
    }
    from{
        fill-opacity: 0;
     }
     to{
        fill-opacity: 1;
        fill: white;
     }
 }

.text:nth-child(1) {
    animation-delay: .75s;
}

.layer {
    position: absolute;
    top: 0;
    left: -10vh;
    width: 100vw;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar
{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, p, div {
    margin: 0;
    font-family: 'Rubik';
}

span {
    white-space: nowrap;
}

.Title {
    margin: 0 10vw 0 10vw;
    color: white;

    h2 {
        font-size: 4rem;
        font-family: 'Kollektif';
        text-align: center;
    }
}

.BookingAndLanding {
    width: 100vw;
    background: -webkit-linear-gradient(#005aa7, #95B5B6);
    background: linear-gradient(#005aa7, #95B5B6);
    padding: 30vh 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scrollDown.MuiSvgIcon-root {
    position: absolute;
    bottom: 3.5vw;
    font-size: 3rem;
    animation: bounce 2s infinite;
    filter: invert(1);
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;

    @keyframes bounce {
        50% {
          transform: translateY(-40%);
        }
        100% {
          transform: translateY(0);
        }
    }
}

.backToTop.MuiSvgIcon-root {
    position: fixed;
    bottom: 3vw;
    right: 3.5vw;
    filter: invert(1);
    animation: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 0.5s;;
    z-index: 2;
}

.Redirect {
    margin-top: 20vh;
    color: #f0f0f0;
    font-size: 2rem;
    z-index: 2;
}

.hidden {
    opacity: 0;
    transition: 1s;
    cursor: default;
    z-index: 0;
}

.hiddenfast {
    opacity: 0;
    transition: 0.5s;
}

.hiddenfandis {
    opacity: 0;
    width: 0;
    margin: 0!important;
    transition: all 0.5s, opacity 0s;
    cursor: default;
    z-index: 0;
}

.shown {
    z-index: 15 !important;
    opacity: 1 !important;
    transition: 1s;
}

.shownno-z {
    opacity: 1;
    transition: 1s;
}

.shownnozfast {
    opacity: 1;
    transition: 0.5s;
}

.nodisplay {
    display: none;
}

/* Material UI Stuff */
.MuiOutlinedInput-root {
    transition: 0.5s;

    &:focus {
        background-color: #f0f0f0 !important;
    }

    &:hover {
        background-color: #e4e4e4;

        .MuiOutlinedInput-notchedOutline {
            border-color: #0277bd;
        }
    }
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #cc0000 !important;
}

.MuiOutlinedInput-notchedOutline {
    border: none;
}

.MuiButton-root {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    color: #002e54; 
    width: 8vw;
}

.MuiSelect-root {
    border-radius: 3px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: 0.5s;
    color: #002e54;

    &:focus {
        background-color: #f0f0f0;
    }

    &:hover {
        background-color: #e4e4e4;
    }

}

.MuiList-root.MuiMenu-list {
    color: #002e54;
}

.MuiAutocomplete-popper {
    z-index: 100000!important;
}

/* Responsive */
@media only screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .Title h2 {
        font-size: 2.5rem;
    }

    .container {
        top: 12vh;
        width: 95vw;
        font-size: 9.25px;
        .text {
            font-size: 5em;
        }
    }

    .FlightSearch {
        border-radius: 2vw!important;
        width: 70vw;

        .Top {
            justify-content: space-around;
            
            .MuiButton-root {
                width: 25vw;

                .MuiButton-iconSizeMedium > *:first-child {
                    position: relative;
                    bottom: 4.5px;
                    font-size: 15px;
                }
            }

            .MuiButton-text {
                padding-top: 1vh;
            }
        }

        .Middle {
            justify-content: space-around;
            flex-direction: column;
            align-items: center;

            .Depart, .Arrive {
                .MuiInputBase-root {
                    width: 60vw!important;
                }
            }

            .Arrive {
                margin-top: 2vh;
            }

            .Date {
                margin-top: 2vh;
                .MuiInputBase-root {
                    width: 60vw!important;
    
                    .MuiIconButton-root {
                        padding: 0;
                    }
                }
            }
        }

        .Vertical {
            
            .Person {
                justify-content: space-around;
            }

            .sidenote {
                text-align: center;
            }

            .MuiMenuItem-root {
                min-height: 25px!important;
            }
        
            .MuiPaper-elevation1 {
                left: 20vw;
            }

            .MuiPaper-root {
                min-width: 40vw!important;
                .MuiFormControl-root {
                    margin-top: 0vh!important;
                }
            }

            .MuiOutlinedInput-root {
                width: 10vw!important;
            }
        }
    }

    .fullFlightList {
        width: 90vw;

        .flightResult {
            font-size: 1.25rem;

            .times {
                min-width: 60vw;
            }

            .flightSelect {
                flex-direction: column;
            }

            .MuiButtonBase-root {
                font-size: 0.8rem;
            }
        }
    }

    .Clouds {
        margin-top: 25vh!important;
        
        .cloudpic {
            flex-direction: column!important;
            align-items: center;

            .cloud {
                margin-top: 5vh!important;
                margin-bottom: 15vh!important;
                width: 70vw!important;
                height: auto!important;

                h1 {
                    font-size: 2rem!important;
                    margin-bottom: 2vh!important;
                }
                p {
                    font-size: 0.7rem;
                }
            }

            img {
                width: 70vw!important;
                height: 70vw!important;
            }
        }
    }

    .Nav {
        height: 85vh!important;
        padding: 12.5vh 0 2.5vh 0!important;
        .extras {
            width: 90vw;
        }
    }

    .MuiPaper-root {
        min-width: 50vw!important;
        padding: 2.5vh 4vw 5vh 4vw!important;
        
        h1 {
            margin-bottom: 2vh;
        }

        .MuiButton-root {
            width: 20vw;
        }

        .MuiFormControl-root {
            margin-top: 2vh!important;
        }

        .MuiInputLabel-outlined {
            transform: translate(14px, 15px) scale(1)
        }

        .MuiOutlinedInput-input {
            height: 2.5vh;
            padding: 10px 14px;
        }
    }

    .Contact {
        .MuiPaper-root {
            width: 75vw!important;
        }
    }

    .Careers, .Purchase {
        .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
            padding: 0!important;
        }
    }

    .Purchase {
        .MuiPaper-root {
            width: 80vw;

            .third-field .spaceGot {
                width: 40%!important;
            }

            .third-field .spaceTaken {
                width: 25%!important;
            }
        }
        
        .MuiOutlinedInput-adornedEnd {
            padding: 0;
        }
    }

    .LogIn {
        .MuiIconButton-root {
            padding: 0;
        }
    }
    
    .MuiPopover-paper {
        padding: 1vh 0!important; 

        .MuiMenuItem-root {
            min-height: 0;
        }
    }

    .MuiAutocomplete-paper {
        padding: 0!important ;
        .MuiAutocomplete-option {
            min-height: 0!important;
        }
    }
  }

  @media only screen and (max-width: 380px) {
    .container {
        font-size: 8.6px;
    }
  }