@font-face {
    font-family: 'Kollektif';
    src: url('fonts/kollektif.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
    cursor: url('./images/cursor.png'), default;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: -webkit-linear-gradient(#005aa7, #ebe9be);
    background: linear-gradient(#005aa7, #ebe9be);
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar
{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, p, div {
    margin: 0;
    font-family: 'Rubik';
}

.Title {
    margin: 0 10vw 0 10vw;
    color: white;

    h2 {
        font-size: 50px;
        font-family: 'Kollektif';
        text-align: center;
    }
}

.BookingAndLanding {
    width: 100vw;
    margin: 0;
    padding: 30vh 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scrollDown.MuiSvgIcon-root {
    position: absolute;
    bottom: 3.5vw;
    font-size: 3rem;
    animation: bounce 2s infinite;
    filter: invert(1);
    cursor: pointer;
    transition: 0.5s;

    @keyframes bounce {
        50% {
          transform: translateY(-40%);
        }
        100% {
          transform: translateY(0);
        }
    }
}

.backToTop.MuiSvgIcon-root {
    position: fixed;
    bottom: 3vw;
    right: 3.5vw;
    filter: invert(1);
    animation: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 0.5s;;
    z-index: 2;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #cc0000 !important;
}

.hidden {
    opacity: 0;
    transition: 1s;
}

.hiddenfast {
    opacity: 0;
    transition: 0.5s;
}

.shown {
    z-index: 15;
    opacity: 1 !important;
    transition: 1s;
}

.shownno-z {
    opacity: 1;
    transition: 1s;
}

.shownnozfast {
    opacity: 1;
    transition: 0.5s;
}

.nodisplay {
    display: none;
}