.Clouds {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50vh;

    .cloudpic {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;

        img {
            margin: 0 5vw 0 5vw;
            width: 30vw;
            height: 30vw;
            border-radius: 0.75vw;
            animation: cloudBounce 4s infinite;
            background-position: center center;     
        }

        .cloud {
            margin: 0 0 30vh 0;
            padding: 2vw 2vw 2vw 2vw;
            box-sizing: border-box;
            width: 40vw;
            height: 30vw;
            border-radius: 0.75vw;
            background-color: transparent;
            box-shadow: none;
            text-align: center;
            background-color: #f0f0f0;
            color: #0277bd;
            animation: cloudBounce 4s infinite;
            animation-delay: 2s;
    
            h1 {    
                font-family: 'Kollektif';
                font-size: 3rem;
                margin: 0 0 0vh 0;
            }
            
            hr {
                border: 0;
                border-top: 2px solid #0277bd;
            }
            
            p {
                margin: 3vh 0 0 0;
                text-align: justify;
                font-size: 1.2rem;
            }
        }
    }
}
@keyframes cloudBounce {
    50% {
      transform: translateY(.75vh);
    }
    100% {
      transform: translateY(0);
    }
}
/*.firstCard {
    padding-top: 60vh;
}

.followingCard {
    top: -20vh;
}

.cardContainer {
    position: relative;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 12.5vw;
    padding-left: 12.5vw;

    .MuiPaper-rounded {
        border-radius: 0.75vw;
    }
}

.card-left {
    align-items: flex-start;
}

.card-right {
    align-items: flex-end;
    .cloud {
        animation-delay: 1.5s !important;
    }
}

.cloud {
    position: relative;
    top: 2vw;
    width: 24vw;
    height: auto;
    animation: cloudBounce 4s infinite;
    filter: drop-shadow(6px 15px 3px rgba(0, 0, 0, 0.2));
    padding-bottom: 20vh;

    @keyframes cloudBounce {
        50% {
          transform: translateY(10px);
        }
        100% {
          transform: translateY(0);
        }
    }
}*/